---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

///////////////////////////////////////////////////////////////////////////////
// COLORS
///////////////////////////////////////////////////////////////////////////////

$dark-blue: 	#006E90;
$blue: 				#2FCAD3;
$light-blue:	#ADCAD6;
$orange: 			#F18F01;
$green: 			#99C24D;

$white: 			#ffffff;
$black: 			#000000;

///////////////////////////////////////////////////////////////////////////////
// RESPONSIVE LAYOUT DIMENSIONS
///////////////////////////////////////////////////////////////////////////////

$desktop-h-margins: 20%;
$desktop-v-margins: 5%;
$desktop-header-height: 275px;

$phone-h-margins: 30px;
$tablet-h-margins: 10%;

$phone:   640px;
$tablet:	768px;
$laptop:  800px;

///////////////////////////////////////////////////////////////////////////////
// MIXINS
///////////////////////////////////////////////////////////////////////////////

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin source-sans {
	font-family: "Source Sans Pro";
	font-weight: 300;
}

@mixin source-sans-bold {
	font-family: "Source Sans Pro";
	font-weight: 700;
}

@mixin playfair-display {
	font-family: "Playfair Display";
	font-weight: 900;
}

@mixin source-code {
	font-family: "Source Code Pro";
	font-weight: 400;
}

///////////////////////////////////////////////////////////////////////////////
// BASE
///////////////////////////////////////////////////////////////////////////////

* {
	box-sizing: border-box;
}

html, body {
	@include source-sans;

	width: 100%;
	height: 100%;

	margin: 0;
	border: 0;
	padding: 0;

	background-color: $white;

	font-size: 16pt;
}

@include media-query($phone) {
	body {
		font-size: 12pt;
	}
}

a {
	color: $blue;
}

///////////////////////////////////////////////////////////////////////////////
// LAYOUT
///////////////////////////////////////////////////////////////////////////////

#page {
	width: 100%;
	height: 100%;
}

#site-header {
	display: flex;

	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: $desktop-header-height;

	background-position: center;
	background-size: cover;
}

#palette-row {
	display: flex;

	width: 100%;
	height: 8px;
}

.palette-row__item {
	width: 20%;
	height: 100%;
}

.dark-blue {
	background-color: $dark-blue;
}

.orange {
	background-color: $orange;
}

.light-blue {
	background-color: $light-blue;
}

.blue {
	background-color: $blue;
}

.green {
	background-color: $green;
}

#logo-row {
	display: flex;

	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

	width: 100%;
	padding-left: $desktop-h-margins;
	padding-right: $desktop-h-margins;
}

@include media-query($phone) {
	#logo-row {
		padding-left: $phone-h-margins;
		padding-right: $phone-h-margins;
	}
}

@include media-query($tablet) {
	#logo-row {
		padding-left: $tablet-h-margins;
		padding-right: $tablet-h-margins;
	}
}

.logo-row__social-buttons {
	width: 65px;
	height: 30px;
}

.logo-row__social-buttons img {
	width: 30px;
	height: 30px;
}

.logo-row__logo {
	width: 125px;
	height: 125px;
}

#branding-row {
	@include playfair-display;

	display: flex;

	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

	width: 100%;
	padding-left: $desktop-h-margins;
	padding-right: $desktop-h-margins;
	margin-top: -10px;

	font-style: italic;
	font-size: .875rem;
	color: $white;
}

@include media-query($phone) {
	#branding-row {
		padding-left: $phone-h-margins;
		padding-right: $phone-h-margins;
	}
}

@include media-query($tablet) {
	#branding-row {
		padding-left: $tablet-h-margins;
		padding-right: $tablet-h-margins;
	}
}

.branding-row__name {
	border-bottom: 5px solid $white;

	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.branding-row__name a {
	text-decoration: none;
	color: $white;
}

.branding-row__title {
	border-bottom: 5px solid $white;

	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#disclaimer {
	border-top: 1px solid $light-blue;

	margin-top: 50px;
	margin-left: $desktop-h-margins;
	margin-right: $desktop-h-margins;

	padding-top: 10px;

	font-size: 0.75rem;
	color: $light-blue;
}

@include media-query($phone) {
	#disclaimer {
		margin-top: 20px;
		margin-left: $phone-h-margins;
		margin-right: $phone-h-margins;
	}
}

@include media-query($tablet) {
	#disclaimer {
		margin-top: 25px;
		margin-left: $tablet-h-margins;
		margin-right: $tablet-h-margins;
	}
}

#site-footer {
	border-top: 1px solid $orange;

	margin-top: 10px;
	margin-left: $desktop-h-margins;
	margin-right: $desktop-h-margins;

	padding-top: 10px;
	padding-bottom: $desktop-v-margins;

	font-size: 0.75rem;
	color: $orange;
}

@include media-query($phone) {
	#site-footer {
		margin-left: $phone-h-margins;
		margin-right: $phone-h-margins;
	}
}

@include media-query($tablet) {
	#site-footer {
		margin-left: $tablet-h-margins;
		margin-right: $tablet-h-margins;
	}
}

///////////////////////////////////////////////////////////////////////////////
// ARTICLE
///////////////////////////////////////////////////////////////////////////////

article {
	padding-top: $desktop-v-margins;
	padding-left: $desktop-h-margins;
	padding-right: $desktop-h-margins;
}

@include media-query($phone) {
	article {
		padding-left: $phone-h-margins;
		padding-right: $phone-h-margins;
	}
}

@include media-query($tablet) {
	article {
		padding-left: $tablet-h-margins;
		padding-right: $tablet-h-margins;
	}
}

h1 {
	@include playfair-display;

	margin: 0;
	padding: 0;

	font-size: 1.5rem;
	color: $orange;
}

h2 {
	@include playfair-display;

	margin: 0;
	margin-top: 1rem;
	margin-bottom: .65rem;

	padding: 0;

	font-size: 1.25rem;
	color: $dark-blue;
}

h3 {
	@include playfair-display;

	margin: 0;
	margin-top: .75rem;

	padding: 0;

	font-size: 1rem;
	color: $dark-blue;
}

h3 a {
	text-decoration: none;
	color: $dark-blue;
}

.home h1 {
	margin-bottom: .5rem;

	font-size: 2rem;
	line-height: 100%;
}

.home h2 {
	color: $orange;
}

p {
	margin: 0;
	padding: 0;

	margin-bottom: .85rem;
}

.article-footer {
	display: flex;
	justify-content: space-between;

	border-top: 1px solid $green;

	margin-top: 50px;
	padding-top: 10px;

	font-size: 0.75rem;
}

@include media-query($phone) {
	.article-footer {
		flex-direction: column;
		justify-content: flex-start;

		margin-top: 20px;
	}
}

@include media-query($tablet) {
	.article-footer {
		margin-top: 25px;
	}
}

.article-footer__credits a {
	font-weight: 700;
}

@include media-query($phone) {
	.article-footer__credits {
		margin-top: 5px;
	}
}

.lead {
	font-weight: 700;
}

.highlight {
	border-top: 1px solid $green;
	border-bottom: 1px solid $green;

	margin-top: 1rem;
	margin-bottom: 1rem;
}

.highlight pre, .highlight code {
	@include source-code;

	font-size: 0.875rem;
}