---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "palette";
@import "typography";
@import "base";
@import "layout";
@import "syntax-highlighting";

///////////////////////////////////////////////////////////////////////////////
// ARTICLE
///////////////////////////////////////////////////////////////////////////////

article {
	padding-top: $desktop-v-margins;
	padding-left: $desktop-h-margins;
	padding-right: $desktop-h-margins;
}

@include media-query($phone) {
	article {
		padding-left: $phone-h-margins;
		padding-right: $phone-h-margins;
	}
}

@include media-query($tablet) {
	article {
		padding-left: $tablet-h-margins;
		padding-right: $tablet-h-margins;
	}
}

.home h1 {
	font-size: 2rem;
	line-height: 100%;
}

.home h2 {
	margin-top: 1.5rem;

	line-height: 100%;
	color: $orange;
}

.article-footer {
	display: flex;
	justify-content: space-between;

	border-top: 1px solid $green;

	margin-top: 50px;
	padding-top: 10px;

	font-size: 0.75rem;
}

@include media-query($phone) {
	.article-footer {
		flex-direction: column;
		justify-content: flex-start;

		margin-top: 20px;
	}
}

@include media-query($tablet) {
	.article-footer {
		margin-top: 25px;
	}
}

.article-footer__credits a {
	font-weight: 700;
}

@include media-query($phone) {
	.article-footer__credits {
		margin-top: 5px;
	}
}

.lead {
	font-weight: 700;
}

.highlight {
	border-top: 1px solid $green;
	border-bottom: 1px solid $green;

	margin-top: 1rem;
	margin-bottom: 1rem;
}

.highlight pre, .highlight code {
	@include source-code;

	font-size: 0.875rem;
}