---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "palette";
@import "base";
@import "layout";
@import "syntax-highlighting";

///////////////////////////////////////////////////////////////////////////////
// ARTICLE
///////////////////////////////////////////////////////////////////////////////

.home {
	margin-bottom: 50px;
}

.home h1 {
	font-size: 2.25rem;
}

@include media-query($phone) {
	.home h1 {
		font-size: 1.75rem;
	}
}

.home h2 {
	margin-bottom: .25rem;

	color: $orange;
}

@include media-query($phone) {
	.home h2 {
		font-size: 1.25rem;
	}
}

.article-footer {
	display: flex;
	justify-content: space-between;

	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;

	border-top: 1px solid $green;

	font-size: 0.75rem;
	color: $green;
}

@include media-query($phone) {
	.article-footer {
		flex-direction: column;
		justify-content: flex-start;
	}
}

.article-footer__credits a {
	font-weight: 700;
}

@include media-query($phone) {
	.article-footer__credits {
		margin-top: 5px;
	}
}

.lead {
	font-weight: 700;
}

.highlight {
	border-top: 1px solid $green;
	border-bottom: 1px solid $green;

	margin-top: 1rem;
	margin-bottom: 1rem;
}

article img, article iframe {
	margin-top: 1rem;
	margin-bottom: 1rem;
}