///////////////////////////////////////////////////////////////////////////////
// RESPONSIVE LAYOUT DIMENSIONS
///////////////////////////////////////////////////////////////////////////////

$phone: 670px;
$tablet: 1024px;
$desktop: 1600px;

$phone-h-margins: 30px;
$tablet-h-margins: 10%;
$desktop-h-margins: 20%;
$large-desktop-h-margins: 25%;

$phone-font-size: 12pt;
$tablet-font-size: 14pt;
$desktop-font-size: 16pt;

///////////////////////////////////////////////////////////////////////////////
// MIXINS
///////////////////////////////////////////////////////////////////////////////

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin reset {
	margin: 0;
	border: 0;
	padding: 0;
}

///////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////

@mixin heading-serif {
	font-family: "freight-display-pro";
	font-weight: 700;
}

@mixin body-sans {
	font-family: "freight-sans-pro";
	font-weight: 400;
}

@mixin mono {
	font-family: "courier-prime";
	font-weight: 400;
}

///////////////////////////////////////////////////////////////////////////////
// BASE STYLES
///////////////////////////////////////////////////////////////////////////////

* {
	box-sizing: border-box;
}

html, body {
	@include body-sans;
	@include reset;

	width: 100%;
	height: 100%;

	background-color: $white;

	font-size: $desktop-font-size;
}

@include media-query($tablet) {
	body {
		font-size: $tablet-font-size;
	}
}

@include media-query($phone) {
	body {
		font-size: $phone-font-size;
	}
}

a {
	color: $blue;
}

h1 {
	@include heading-serif;
	@include reset;

	font-size: 2rem;
	line-height: 145%;
	color: $orange;
}

@include media-query($phone) {
	h1 {
		margin-bottom: .5rem;

		font-size: 1.5rem;
	}
}

h2 {
	@include heading-serif;
	@include reset;

	font-size: 1.5rem;
	line-height: 145%;
	color: $dark-blue;
}

h3 {
	@include heading-serif;
	@include reset;

	font-size: 1rem;
	line-height: 145%;
	color: $dark-blue;
}

h3 a {
	text-decoration: none;
	color: $dark-blue;
}

p {
	@include reset;

	margin-bottom: .85rem;
}

pre, code {
	@include mono;

	font-size: 0.875rem;
}

@include media-query($phone) {
	pre, code {
		font-size: 0.75rem;
	}
}

.dark-blue {
	background-color: $dark-blue;
}

.orange {
	background-color: $orange;
}

.light-blue {
	background-color: $light-blue;
}

.blue {
	background-color: $blue;
}

.green {
	background-color: $green;
}