///////////////////////////////////////////////////////////////////////////////
// COLORS
///////////////////////////////////////////////////////////////////////////////

$dark-blue: 	#006E90;
$blue: 				#2FCAD3;
$light-blue:	#ADCAD6;
$orange: 			#F18F01;
$green: 			#99C24D;

$white: 			#ffffff;
$gray:				#666666;
$black: 			#000000;