///////////////////////////////////////////////////////////////////////////////
// TYPOGRAPHY
///////////////////////////////////////////////////////////////////////////////

@mixin source-sans {
	font-family: "Source Sans Pro";
	font-weight: 300;
}

@mixin source-sans-bold {
	font-family: "Source Sans Pro";
	font-weight: 700;
}

@mixin playfair-display {
	font-family: "Playfair Display";
	font-weight: 900;
}

@mixin source-code {
	font-family: "Source Code Pro";
	font-weight: 400;
}