<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <script src="//use.typekit.net/ydc2wea.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  </head>

  <body>
    <div id="page">
      <header id="site-header" style="background-image: url('{{ page.photo }}')">
        <div class="site-header__palette">
          <div class="palette__item dark-blue"></div>
          <div class="palette__item orange"></div>
          <div class="palette__item light-blue"></div>
          <div class="palette__item blue"></div>
          <div class="palette__item green"></div>
        </div>

        <div class="site-header__content">
          <div class="site-header__logo-row">
            <a href="/"><img class="logo-row__logo" src="/assets/img/logo_fill@2x.png" /></a>
          </div>

          <div class="site-header__branding-row">
            <div class="branding-row__name">
              <a href="/">Joshua Tompkins</a>
            </div>

            <div class="branding-row__social">
              <div class="branding-row__social__item">
                <a href="https://www.twitter.com/jtompkinsx"><i class="fa fa-twitter"></i></a>
              </div>

              <div class="branding-row__social__item">
                <a href="https://www.github.com/jtompkins"><i class="fa fa-github"></i></a>
              </div>

              <div class="branding-row__social__item social__item--secondary">
                <a href="http://www.rdio.com/people/jtompkinsx/"><i class="fa fa-music"></i></a>
              </div>

              <!--<div class="branding-row__social__item social__item--secondary">
                <a href="https://www.twitter.com/jtompkinsx"><i class="fa fa-cloud-download"></i></a>
              </div>-->
            </div>
          </div>
        </div>
      </header>

      {{ content }}

      <footer id="site-footer">
        <div class="site-footer__disclaimer">
          Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer's view in any way.
        </div>

        <div class="site-footer__copyright">
          All content &copy; 2015 Joshua Tompkins except where otherwise noted.
        </div>
      </footer>
    </div>
  </body>
</html>